body {
    padding: 0;
    margin: 0;
}
p, span {
    color: darkgrey;
    font-size: 0.8em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.5em;
    color: #F0E3CA;
}
/* Domov */
.info a {
    text-decoration: none!important;
}
.info {
    background-color: #000;
}
i {
    color: #FF8303;
    font-size: 15px;
}
.navbarMenu {
    background-color: #1B1A17;
}
.navbarMenu img {
    width: 70px;
}
.navbarMenu a {
    color: #F0E3CA!important;
    font-size: 1em;
    margin-left: 5px;
}
.navbarMenu a:hover {
    color: #FF8303!important;
}
.navLogo span {
    font-size: 20px;
    margin-left: -15px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    color: #F0E3CA;
}
.navLogo p {
    color: #FF8303;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -10px;
    margin-left: 15px;
}
.mainPage {
    background-image: url("../../theme/images/bg_1.jpg");
    color: #F0E3CA;
}
.mainPage h2 {
    color: #FF8303;
    font-family: Lucida Handwriting, cursive;
    font-weight: lighter;
}
.mainPage p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #F0E3CA;
}
button {
    border: 1px #FF8303 solid;
    color: #FF8303;
    background-color: transparent;
    padding: 10px 20px;
}
.contact {
    background-color: #000;
}
.contactInfo {
    font-size: 1.1em;
}
.contactInfo span {
    color: #F0E3CA;
    font-weight: bold;
}

/* O nás */

.aboutUsImg {
    background-image: url("../../theme/images/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutUsText {
    background-image: url("../../theme/images/bg_4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutUsText p {
    font-size: 1em;
    line-height: 25px;
}
.aboutUsText img {
    width: 30px;
}
.aboutUsText span {
    font-size: 1em;
    color: #FF8303;
}
.footer {
    background-color: #000;
}

/* Služby */

.service {
    background-image: url("../../theme/images/food.png");
}
.service h3 {
    font-size: 1.2em;
    color: #1B1A17;
}
.service p {
    font-size: 1em;
    color: #1B1A17;
}
.services img {
    width: 100px;
    border: 1px #FF8303 solid;
    padding: 20px;
}

/* Denné menu */

.pizzaMenu {
    background-image: url("../../theme/images/bg_4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.pizzaMenu p {
    font-size: 1em;
}
.pizzaBg {
    background-image: url("../../theme/images/b4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}
.pizzaInfo {
    background-color: rgba(0,0,0,0.5);
    position: relative;
}
.pizzaMenu img {
    width: 220px;
}
.pizzaMenu h3 {
    font-size: 1.2em;
}
.pizzaMenu h2 {
    color: #F0E3CA;
}
.price {
    color: #FF8303;
    position: absolute;
    bottom: 0;
    right: 20px;
}
.ourPrices img {
    width: 80px;
}
.priceMenu p b {
    color: #FF8303;
    font-size: 1.2em;
}
.priceMenu p {
    font-size: 0.8em;
}

/* Admin page */

#adminPage {
    color: #F0E3CA;
}

.sideBar {
    background-color: #1B1A17;
    height: 100vh;
}

#adminPage h2 {
    color: #1B1A17;
    font-size: 1em;
}